@font-face {
  font-family: 'Azuki';
  src: url('https://cdn.glitch.global/1a9951e1-c55f-4ab1-b9a4-197ee955bd14/azuki.ttf?v=1738569668322') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*この上のやつを変えると好きなフォントをアップロードして使える
(アップロードしたら、font-family を変えて、src: urlをアップロードしたURLに変える)*/
body {
  font-family: 'Azuki', sans-serif;
  background-color: #fff5f9;/*ここのカラーコードを変えると背景色が変わる*/
  color: #555555;/*ここのカラーコードを変えると文字色が変わる*/
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background-color:#ffe8f0;/*ここのカラーコードを変えるとヘッダーの色が変わる*/
  color:  #333333;/*ここのカラーコードを変えるとヘッダーの文字色が変わる*/
  padding: 5px 0;
  text-align: center;
  height: 90px; /* ヘッダーの高さを変える*/
  line-height: 15px; /*ヘッダーに問題が起きたらここを変えると良いかも...?*/
}

footer {
  background-color: #dba4b0;/*ここのカラーコードを変えるとフッターの色が変わる*/
  color: #444444;/*ここのカラーコードを変えるとフッターの文字色が変わる*/
  text-align: center;
  padding: 0;
  height: 160px;
  line-height: 20px;/*フッターに問題が起きたらここを変えると良いかも...?*/
  position: relative; 
  width: 100%;
  margin-top: auto;
}


.content {
  flex: 1;
  margin: 20px;
}
a {
  color: #d8577f;/*ここのカラーコードを変えるとリンクの色が変わる*/
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}
footer .sitemap {
  margin-top: 1px;
}
footer .sitemap ul {
  list-style: none;
  padding: 0;
}
footer .sitemap li {
  display: inline;
  margin: 0 10px;
}
